<div class="mt-5">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center mb-3">
        <p><i class="bi bi-exclamation-circle-fill"></i> You've tried to access a protected page. Please logon to continue.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <app-login-panel (login)="onLogin($event)" (cancel)="onCancel()" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mt-5 d-flex justify-content-center">
        <p><i class="bi bi-exclamation-circle"></i> As this is a simulation, just click the Login button; no username or password is required.</p>
      </div>
    </div>
  </div>
</div>
